.container{
    display: flex;
    font-family: sans-serif;
    justify-content: stretch;
    flex-grow: 1;
    padding: 0;
    margin-top: 50px;
    margin-right: 0px;
    margin-left : 0px;
    margin-bottom: 0px;
}

.heading {
    color: rebeccapurple;
}
.navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex: 100%;
    top: 0;
    background-color: black;
}
.navBarItems
{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link-item {
    padding-right: 0;
}
.nav-link-text {
    color: white;
    font-size: 35px;
    text-decoration: none;
}