.container{
    display: flex;
    font-family: sans-serif;
    justify-content: stretch;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin-top: 50px;
    margin-right: 0px;
    margin-left : 0px;
    margin-bottom: 0px;
    width:100%;
}
.heading{
    color: black;
}
.logo {
    color: white;
    font-size: 35px;
    text-decoration: none;
    font: bold;
    padding-right: 20px;
}
.search{
    color: white;
    font-size: 35px;
}
.navBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}
.navBarItems 
{
    display: flex;
    flex-direction: row;
}

.nav-link-item :not(last-child){
    padding-right: 20px;
}
.nav-link-text {
    color: white;
    font-size: 35px;
    text-decoration: none;
}