.logo
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;
}

.logoText
{
    font-size: 35px;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
}