.container
{
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: auto;
    margin-top: 90px;
    margin-bottom: 20px;
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}